# Configurações de E-mail (Gmail)
MAIL_USERNAME=seu-email@gmail.com
MAIL_PASSWORD=sua-senha-de-app-de-16-digitos
MAIL_FROM=seu-email@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com

# Banco de Dados (Opcional se usar o padrão SQLite)
# DATABASE_URL=sqlite:///./fallsense.db